{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="container mt-4 mb-3">
    <div class="row">
        <div class="col-12 col-md-8 col-lg-6">
            <h2 class="mb-4">Register for the following online event</h2>
            <h5>{{ event.title }}</h5>
            <p class="fw-bolder">with {{ event.speaker }}</p>
            <p class="fw-bolder"><i class="fa-solid fa-calendar pe-2"></i>{{ event.when }}</p>
            <hr>
            <p>All online events take place on Zoom and are recorded and available to watch for 7 days.</p>
            <p class="fw-bold text-dark-green">Please register to either join live or watch later.</p>
            <p>We'll send you a confirmation email.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-8 col-lg-6">
            <form method="POST" action="{% url 'event_register' event.id %}" class="form mb-2" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="my-4">
                    <a class="btn btn-dark bg-dark-green" href="{% url 'events' %}">Cancel</a>
                    <button class="btn btn-dark bg-dark-green ms-4" type="submit">Register</button>
                </div>
            </form>
        </div>            
    </div>
</div>
{% endblock %}
