{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="container-fluid">

    <div class="row">
        <div class="col-12 col-md-6 mt-4 mb-3">
            <h2 class="logo-font">Admin Panel</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-6 mb-4">
            <div class="card h-100 mb-3 btn-admin">
                <div class="card-body d-flex align-items-center justify-content-lg-center">
                    <a href="{% url 'add_product' %}">Add a new product</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 mb-4">
            <div class="card h-100 btn-admin">
                <div class="card-body d-flex align-items-center justify-content-lg-center">
                    <a href="{% url 'manage_reviews' %}">Manage reviews waiting for approval</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 mb-4">
            <div class="card h-100 mb-3 btn-admin">
                <div class="card-body d-flex align-items-center justify-content-lg-center">
                    <a href="{% url 'create_carousel' %}">Create a new carousel</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 mb-4">
            <div class="card h-100 btn-admin">
                <div class="card-body d-flex align-items-center justify-content-lg-center">
                    <a href="{% url 'choose_carousel' %}">Choose a carousel to display</a>
                </div>
            </div>
        </div>            
    </div>

</div>
{% endblock %}
