{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="container">
    <div class="row mt-4 mb-3">
        <div class="col-12">
            <h2 class="logo-font mb-4">Homepage Management</h2>
            <h5 class="text-muted"> Choose Carousel</h5>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-10 col-lg-8">
            <hr>
            <form method="POST" action="{% url 'choose_carousel' %}" class="form mb-2">
                {% csrf_token %}
                <label class="form-label" for="available-carousels">Available carousels</label>
                <select class="select form-select" name="available-carousels" id="available-carousels">
                    {% for carousel in available_carousels %}
                        <option value="{{ carousel.title }}">{{ carousel.title }} | Created on {{ carousel.created_on }}</option>
                    {% endfor %}
                </select>
                <div class="mt-2 mb-5">
                    <a href="{% url 'admin_panel' %}" class="btn btn-admin mt-3 mx-1">Cancel</a>
                    <input type="submit" value="Activate carousel" name="activate_carousel" class="btn btn-admin mx-1 mt-3">
                    <input type="submit" value="Edit" name="edit_carousel" class="btn btn-admin mx-1 mt-3">
                    <input type="submit" value="Delete" name="delete_carousel" class="btn btn-admin mx-1 mt-3">
                </div>
            </form>
        </div>            
    </div>
</div>
{% endblock %}
