{% extends "base.html" %}
{% load static %}


{% block extra_title %}- Home{% endblock %}

{% block page_header %}
<!-- Carousel based on Booststrap docs: https://getbootstrap.com/docs/5.0/components/carousel/ -->
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            {% if carousel %}
            <img src="{{ carousel.banner_img1.url }}" alt="{{ carousel.name_banner_img1 }}" class="d-block w-100">
            {% else %}
            <img src="{{ MEDIA_URL }}home_prunes.jpg" alt="Dried fruit" class="d-block w-100">
            {% endif %}
        </div>
        <div class="carousel-item">
            {% if carousel %}
            <img src="{{ carousel.banner_img2.url }}" alt="{{ carousel.name_banner_img1 }}" class="d-block w-100">
            {% else %}
            <img src="{{ MEDIA_URL }}home_supplements.jpg" alt="Capsules and vitamin supplements" class="d-block w-100">
            {% endif %}
        </div>
        <div class="carousel-item">
            {% if carousel %}
            <img src="{{ carousel.banner_img3.url }}" alt="{{ carousel.name_banner_img1 }}" class="d-block w-100">
            {% else %}
            <img src="{{ MEDIA_URL }}home_aroma.jpg" alt="Lavender essential oil"  class="d-block w-100">
            {% endif %}
        </div>
        <div class="carousel-item">
            {% if carousel %}
            <img src="{{ carousel.banner_img4.url }}" alt="{{ carousel.name_banner_img1 }}" class="d-block w-100">
            {% else %}
            <img src="{{ MEDIA_URL }}home_gift.jpg" alt="Exo-friendly gifts" class="d-block w-100">
            {% endif %}
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
{% endblock %}

{% block content %}
<form id="shop-now" action="{% url 'products' %}" class="py-3 text-center">
    <input type="submit" value="Shop now" class="w-50 btn btn-lg btn-dark bg-dark-green b-0">
</form>
{% endblock %}