{% extends "base.html" %}
{% load static %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block content %}
    <div class="container mb-3">
        <div class="row">
            <div class="col mt-4 mb-3">
                <h2>Order History</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="order-history table-responsive">
                    <table class="table table-sm table-borderless">
                        <thead>
                            <tr>
                                <th>Order Number</th>
                                <th>Date</th>
                                <th>Items</th>
                                <th>Order Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                                <tr>
                                    <td>
                                        <a href="{% url 'order_history' order.order_number %}"
                                        title="{{ order.order_number }}">
                                            {{ order.order_number|truncatechars:6 }}
                                        </a>
                                    </td>
                                    <td>{{ order.date }}</td>
                                    <td>
                                        <ul class="list-unstyled">
                                            {% for item in order.lineitems.all %}
                                                <li class="small">
                                                    {{ item.product.name }} x{{ item.quantity }}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                    <td>€{{ order.grand_total }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
			<div class="col-12 text-end">
                <a href="{% url 'profile' %}" class="btn btn-dark bg-dark-green my-5">
                    <span class="icon mr-2">
                        <i class="fas fa-angle-left"></i>
                    </span>
                    <span class="text-uppercase">Back to profile</span>
                </a>
			</div>
		</div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<!-- Handle the for field Country - display a user-friendly list of all available options -->
<script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock %}