{% extends "base.html" %}
{% load static %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col mt-4 mb-3">
                <h2 class="logo-font mb-4">My profile</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-0">
                <p class="text-muted">Default delivery information</p>
                <form class="mt-3" action="{% url 'profile' %}" method="POST" id="profile-update-form">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn btn-dark bg-dark-green text-uppercase float-end my-3">Update Information</button>
                </form>
            </div>
            <div class="col-12 col-md-8 offset-md-2 col-lg-5 offset-lg-1 mb-5 mt-lg-5">
                <div class="card mt-5 p-3 text-center bg-light-sage">
                    <h5>
                        <a href="{% url 'orders' %}" class="text-link">Order history</a>
                    </h5>
                </div>
                <div class="card mt-2 p-3 text-center bg-light-sage">
                    <h5>
                        <a href="{% url 'wishlist_items' %}" class="text-link">Wishlist</a>
                    </h5>
                </div>
                <div class="card mt-2 p-3 text-center bg-light-sage">
                    <h5>
                        <a href="{% url 'bookmarked' %}" class="text-link">Bookmarked articles & recipes</a>
                    </h5>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<!-- Handle the for field Country - display a user-friendly list of all available options -->
<script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock %}