{% extends "base.html" %}
{% load static %}


{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col mt-4 mb-3">
                <h2 class="mb-4">Wishlist</h2>
            </div>
        </div>

        <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4">
            {% for product in wishlist_items %}
            <div class="wishlist-product col mb-2">
                <div class="card h-100 border-1">
                    <button class="add-to-wishlist text-end pe-3" style="border:none; background:none;" data-product-item="{{ product.id }}" aria-label="Heart icon - click to remove product from wishlist">
                        <i class="fa-solid fa-heart"></i>
                    </button>

                    {% for image in product.images.all %}
                    <a href="{% url 'product_detail' product.id %}">
                        <img class="card-img-top img-fluid" src="{{ image.primary_img.url }}" alt="{{ image.name_primary_img }}">
                    </a>
                    {% empty %}
                    <a href="{% url 'product_detail' product.id %}">
                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                    </a>
                    {% endfor %}

                    <div class="card-body pb-0">
                        <p>{{ product.name }}</p>
                    </div>                       

                </div> 
            </div>
            {% empty %}
            <div id="empty-wishlist">
                <p>There are no products on your wishlist</p>
            </div>
            {% endfor %}
        </div>
        <div class="row">
			<div class="col-12 text-end">
                <a href="{% url 'profile' %}" class="btn btn-dark bg-dark-green my-5">
                    <span class="icon mr-2">
                        <i class="fas fa-angle-left"></i>
                    </span>
                    <span class="text-uppercase">Back to profile</span>
                </a>
			</div>
		</div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<!-- Remove product from wishlist when user clicks the heart icon -->
<script src="{% static 'profiles/js/remove_from_wishlist.js' %}"></script>
{% endblock %}