.blog-options {
    height: 60vh;
}

.blog-options a {
    border: 2px solid white;
    border-radius: .25rem;
}

.blog-options a:hover {
    border: 4px double white;
}

.blog-options-title {
    color: white;
    text-align: center;
    padding: 20px 15px;
}

.articles-bg-img {
    background-color: darkgreen;
    background: url('/media/options_articles.jpg') no-repeat center center fixed;
    background-size: cover;
}

.recipes-bg-img {
    background-color: black;
    background: url('/media/options_recipes.jpg') no-repeat center center fixed;
    background-size: cover;
}

#blog-content ~ div {
    width: 80vw;
}

.blog-content > * {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.scale {
    width: 100%;
    height: auto;
}

#reading-list button,
#recipe-list button {
    border: none;
    background: none;
    align-self: flex-start;
}

.blog-thumbnail > img {
    max-height: 15vh;
    object-fit: contain;
    align-self: flex-start;
}

.blog-image{
    position: relative;
    overflow: hidden;
}

.post-title {
    margin-top: 10%;
}

.post-subtitle {
    color: darkgreen;
}

h3 {
    padding: 1.5rem 0;
}

#save-article:hover,
#copy-link-article:hover,
#save-recipe:hover,
#copy-link-recipe:hover {
    cursor: pointer
}

.rel-product-img img {
    width: 200px;
}

.bookmark-article,
.bookmark-recipe,
.share-link {
    border: none;
    background: none;
}
