{% extends "base.html" %}
{% load static %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col mt-4 mb-3">
                {% if not from_profile %}
                <h2 class="mb-4">Thank You</h2>
                {% endif %}
                <p class="text-dark">Your order information is below. A confirmation email will be sent to <span class="fw-bold">{{ order.email }}</span>.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-7">
                <hr>
                <div class="order-confirmation-wrapper p-2 border">
                    <div class="row mt-2">
                        <div class="col">
                            <small class="bg-light-sage text-dark-green fw-bold">Order info</small>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 fw-bold">Order number: </p>
                        </div>
                        <div class="col-12 col-md-8 text-md-end text-break">
                            <p class="mb-0">{{ order.order_number }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 fw-bold">Order date: </p>
                        </div>
                        <div class="col-12 col-md-8 text-md-end">
                            <p class="mb-0">{{ order.date }}</p>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col">
                            <small class="bg-light-sage text-dark-green fw-bold">Order details</small>
                        </div>
                    </div>

                    {% for item in order.lineitems.all %}
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 fw-bold">
                                {{ item.product.name }}
                            </p>
                        </div>
                        <div class="col-12 col-md-8 text-md-end">
                            <p class="mb-0">{{ item.quantity }} at €{{ item.product.price }} each</p>
                        </div>
                    </div>
                    {% endfor %}

                    <div class="row mt-3">
                        <div class="col">
                            <small class="bg-light-sage text-dark-green fw-bold">Delivering to</small>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 fw-bold">Full name: </p>
                        </div>
                        <div class="col-12 col-md-8 text-md-end">
                            <p class="mb-0">{{ order.full_name }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 fw-bold">Address 1: </p>
                        </div>
                        <div class="col-12 col-md-8 text-md-end">
                            <p class="mb-0">{{ order.street_address1 }}</p>
                        </div>
                    </div>

                    {% if order.street_address2 %}
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 fw-bold">Address 2: </p>
                        </div>
                        <div class="col-12 col-md-8 text-md-end">
                            <p class="mb-0">{{ order.street_address1 }}</p>
                        </div>
                    </div>
                    {% endif %}

                    {% if order.county %}
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 fw-bold">County: </p>
                        </div>
                        <div class="col-12 col-md-8 text-md-end">
                            <p class="mb-0">{{ order.county }}</p>
                        </div>
                    </div>
                    {% endif %}

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 fw-bold">Town or city: </p>
                        </div>
                        <div class="col-12 col-md-8 text-md-end">
                            <p class="mb-0">{{ order.town_or_city }}</p>
                        </div>
                    </div>

                    {% if order.postcode %}
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 fw-bold">Postal code: </p>
                        </div>
                        <div class="col-12 col-md-8 text-md-end">
                            <p class="mb-0">{{ order.postcode }}</p>
                        </div>
                    </div>
                    {% endif %}

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 fw-bold">Country: </p>
                        </div>
                        <div class="col-12 col-md-8 text-md-end">
                            <p class="mb-0">{{ order.country }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 fw-bold">Phone number: </p>
                        </div>
                        <div class="col-12 col-md-8 text-md-end">
                            <p class="mb-0">{{ order.phone_number }}</p>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col">
                            <small class="bg-light-sage text-dark-green fw-bold">Billing info</small>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 fw-bold">Order total: </p>
                        </div>
                        <div class="col-12 col-md-8 text-md-end">
                            <p class="mb-0">€{{ order.order_total }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 fw-bold">Delivery: </p>
                        </div>
                        <div class="col-12 col-md-8 text-md-end">
                            <p class="mb-0">€{{ order.delivery_cost }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-black fw-bold">Grand Total: </p>
                        </div>
                        <div class="col-12 col-md-8 text-md-end">
                            <p class="mb-0 fw-bold">€{{ order.grand_total }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
			<div class="col-12 col-lg-7 text-end">
                {% if from_profile %}
                    <a href="{% url 'orders' %}" class="btn btn-dark bg-dark-green my-5">
                        <span class="icon mr-2">
                            <i class="fas fa-angle-left"></i>
                        </span>
                        <span class="text-uppercase">Back to orders</span>
                    </a>
                {% else %}
                    <a href="{% url 'products' %}?category=home_gift" class="btn btn-dark bg-dark-green my-5">
                        <span class="text-uppercase">Now check out our Home & Gift section</span>
                    </a>
                {% endif %}
			</div>
		</div>
    </div>
{% endblock %}