{% extends "base.html" %}
{% load static %}
{% load basket_tools %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col mt-4 mb-3">
            <h2 class="mb-4">Basket</h2>
        </div>
    </div>

    <div class="row">
        <div class="col col-md-8 offset-md-2 col-lg-6 offset-lg-3">
            {% if basket_items %}
                {% for item in basket_items %}
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-3 img-fluid">
                            {% for image in item.product.images.all %}
                            <img class="img-fluid rounded" src="{{ image.primary_img.url }}" alt="{{ item.product.name }}">
                            {% empty %}
                            <img class="img-fluid rounded" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}">
                            {% endfor %}
                        </div>
                        <div class="col-9">
                            <div class="card-body">
                                <p class="my-0">
                                    <a href="{% url 'product_detail' item.product.id %}" class="hidden-link">{{ item.product.name }}</a>
                                </p>
                                <p class="my-0 small text-muted">{{ item.product.sku|upper }}</p>
                                <hr>
                                <div class="row">
                                    <div class="col-md-4">
                                        <p class="my-0 fw-bold">€{{ item.product.price | calc_subtotal:item.quantity }}</p>
                                    </div>
                                    <div class="col-md-8 text-end">
                                        <form class="form update-form d-flex justify-content-end" method="POST" action="{% url 'update_basket' item.item_id %}">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <div class="input-group input-group-{{ item.item_id }}">
                                                    <div class="input-group-prepend">
                                                        <button class="decrement-qty btn btn-dark bg-dark-green decrement-qty_{{ item.item_id }}" 
                                                            data-item_id="{{ item.item_id }}">
                                                            <span>
                                                                <i class="fas fa-minus fa-sm"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                    <input class="form-control-sm qty_input id_qty_{{ item.item_id }}" type="number"
                                                        name="quantity" value="{{ item.quantity }}" min="1" max="9"
                                                        data-item_id="{{ item.item_id }}">
                                                    <div class="input-group-append">
                                                        <button class="increment-qty btn btn-dark bg-dark-green increment-qty_{{ item.item_id }}"
                                                            data-item_id="{{ item.item_id }}">
                                                            <span>
                                                                <i class="fas fa-plus fa-sm"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        <a class="update-link text-info text-dark"><small>Update</small></a>
                                        <a class="remove-item text-danger float-right" id="remove_{{ item.item_id }}">
                                            <small><i class="fa-solid fa-trash ps-2 pe-1"></i><span>Remove</span></small>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div class="row">
                    <div class="col pt-5 text-end">
                        <h6><strong>Basket Total: €{{ total|floatformat:2 }}</strong></h6>
                        <h6>Delivery: €{{ delivery|floatformat:2 }}</h6>
                        <h4 class="mt-4"><strong>Grand Total: €{{ grand_total|floatformat:2 }}</strong></h4>
                        {% if free_delivery_delta > 0 %}
                            <p class="mb-1 text-danger">
                                You could get free delivery by spending just <strong>€{{ free_delivery_delta }}</strong> more!
                            </p>
                        {% endif %}
                    </div>
                </div>
                <div>
                    <div class="text-end mt-3 mb-5">
                        <a href="{% url 'products' %}" class="btn btn-dark bg-dark-green mb-3 mb-md-0 d-md-inline me-md-5 w-100">
                            <span class="text-uppercase">Keep shopping</span>
                        </a>
                        <a href="{% url 'checkout' %}" class="btn btn-dark bg-dark-green d-md-inline w-100">
                            <span class="text-uppercase">Go to checkout</span>
                            <span class="icon">
                                <i class="fas fa-lock"></i>
                            </span>
                        </a>
                    </div>
                </div>
            {% else %}
            <p class="lead mb-5">Your basket is empty</p>
            <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="text-uppercase">Keep shopping</span>
            </a>
            {% endif %}

{% endblock %}


{% block postloadjs %}
{{ block.super }}
<!-- Update product quantity -->
<script src="{% static 'products/js/product_quantity.js' %}" ></script>

<!-- The script element below has been copied from the CI's Boutique Ado walkthrough project and slightly adjusted -->
<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function(e) {
        let form = $(this).prev('.update-form');
        form.submit();
        console.log('Update was clicked')
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        let csrfToken = "{{ csrf_token }}";
        let itemId = $(this).attr('id').split('remove_')[1];
        let url = `/basket/remove/${itemId}/`;
        let data = {'csrfmiddlewaretoken': csrfToken};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
         console.log('Remove was cicked')
    })
</script>
{% endblock %}
