html {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.navbar-collapse {
    flex-grow: 0;
}

#logo {
    font-family: "Orelega One", serif;
}

#menu-icons i {
    padding: 0 .5rem;
}

#copyright {
    background-color: rgba(0, 0, 0, 0.2);
}


@media (min-width: 1200px) {
    #search {
        width: 50% !important;
    }

    .carousel {
        height: 80vh;
    }

    .carousel-inner {
        height: 100%;
    }
}

@media (min-width: 1440px) {
    .carousel {
        height: 65vh;
    }

    .carousel-inner {
        height: 100%;
    }
}

@media (min-width: 1920px) {
    .carousel {
        height: 45vh;
    }

    .carousel-inner {
        height: 100%;
    }
}
