html {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.navbar-collapse {
    flex-grow: 0;
}

#logo {
    font-family: "Orelega One", serif;
}

#menu-icons i {
    padding: 0 .5rem;
}

#copyright {
    background-color: rgba(0, 0, 0, 0.2);
}


@media (min-width: 1200px) {
    .carousel {
        height: 80%;
    }

    .carousel-inner {
        height: 45vh;
    }
}
