#product-name-link {
    color: #1C0F13;
    text-decoration: none;
    font-weight: 500;
}

#products-number a,
.text-link {
    color: #013a20;
    font-weight: 700;
}

#products-number a:hover,
#products-number a:focus,
.text-link:hover,
.text-link:hover {
    color: #013a20;
    text-decoration: none;
}

#pagination {
    background-color: #CDD193;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 50px;
    right: 10px;
    background-color: #1C0F13;
    border-radius: .25rem;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
    text-decoration: none;
    color: #ffffff;
}

.btt-link:hover,
.update-link:hover,
.remove-item:hover,
.btt-link:focus,
.update-link:focus,
.remove-item:focus {
    text-decoration: none;
    color: #ffffff;
    border-style: double;
}

.add-to-wishlist {
    border: none;
    background: none;
}

.approval {
    color: #013a20;
    font-weight: 600;
}

#reviewForm {
    margin-top: 1.3em;
}


/* Buttons */
.card-footer .btn-dark {
    font-size: .9rem;
}

.product-main-buttons .btn:hover,
.product-main-buttons .btn:focus,
.input-group .btn:hover,
.input-group .btn:focus,
.card-footer .btn-dark:hover,
.card-footer .btn-dark:focus,
.product-reviews .btn:hover,
.product-reviews .btn:focus,
#submitButton:hover,
#submitButton:focus {
    background-color: #CDD193;
    color: #1C0F13;
    font-weight: 500;
}

.btn-pagination {
    border-width: 0;
    background-color: #CDD193;
    color: #013a20;
    font-weight: 700;
    text-decoration: underline; 
}

.btn-pagination:hover,
.btn-pagination:focus {
    background-color: #ffffff;
    color: #013a20;
}

.input-group-prepend button {
    border-radius: 0;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

.input-group-append button {
    border-radius: 0;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

.btn-admin {
    border-color: #1C0F13;
    border-width: .5px;
    background-color: #FCFFD9;
}

#admin-btn-products > .btn {
    font-size: .875em;
    padding: .375rem .3rem;
}

/* Basket page */
.hidden-link {
    text-decoration: none;
    color: #1C0F13;
}

/* Admin pages */
.form > div {
    padding: .3rem 0;
}

#id_primary_img,
#id_secondary_img,
#id_tertiary_img {
    width: 100%;
}

/* Media queries */
@media (min-width: 375px) {
    #admin-btn-products > .btn {
        padding: .375rem .75rem;
    }
}

@media (min-width: 768px) {
    .btn-admin {
        width: 45%;
    }
}

@media (min-width: 1024px) {
    .product-container {
        max-width: 80vw;
        margin: 0 auto;
    }
    #category-selector, 
    #sort-selector  {
        font-size: 1rem;
    }
}

@media (min-width: 1920px) {
    .product-container {
        max-width: 70vw;
        margin: 0 auto;
    }
}
