{% extends 'base.html' %} 
{% load static %}


{% block extra_css %}
    <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock %}

{% block extra_title %}- {{ article.title }}{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="">
        <h1 class="">{{ article.title }}</h1>
        <p class="">Published on {{ article.date_of_publication }}</p>
    </div>
    <!-- <div class="w-25 blog-banner">
        <img src="{{ article.banner_img.url }}" class="blog-banner" alt="placeholder">
    </div> -->

    <div class="row">
        <div class="col-12">
            <div class="">
                <p class="">
                    {{ article.content | safe }}
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}