{% extends 'base.html' %} 
{% load static %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock %}

{% block extra_title %}- {{ article.title }}{% endblock %}

{% block content %}
<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-12 px-3">
                <h1 class="post-title">{{ article.title }}</h1>
                <p class="post-subtitle">Published on {{ article.date_of_publication }}</p>
                <p class="blog-icons">
                    <span class="pe-3" id="save-article"><i class="fa-regular fa-bookmark"></i></span>
                    <span id="copy-link-article"><i class="fa-solid fa-link"></i></span>
                    {% if request.user.is_staff %}
                    <small class="ms-3">
                        <a href="{% url 'edit_article' article.id %}">Edit</a>
                        {% if request.user.is_superuser %}
                        <a class="text-danger" href="{% url 'unpublish_article' article.id %}">Unpublish</a>
                        {% endif %}
                    </small>
                    {% endif %}
                </p>

            </div>
            {% if article.banner_img %}
            <div class="col-12 blog-image px-3">
                <img src="{{ article.banner_img.url }}" class="scale" alt="{{ article.img_title }}">
            </div>
            {% endif %}
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <article class="card-text blog-content">
                    {{ article.content | safe }}
                </article>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
