{% extends "base.html" %}
{% load static %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock %}

{% block extra_title %}- Short reads for your health and well-being{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Check out our latest articles</h1>

            <ul>
            {% for article in published_articles %}
                <li class="list-unstyled">
                    {% if article.banner_img %}
                    <img src="{{ article.banner_img.url }}" alt="{{ article.img_title }}" style="width:200px">
                    {% endif %}
                    <a href="{% url 'article_detail' article.slug %}">{{ article.title }}</a>
                </li>

                {% if request.user.is_superuser %}
                <small class="ml-3">
                    <a href="{% url 'edit_article' article.id %}">Edit</a> | 
                    <a class="text-danger" href="{% url 'unpublish_article' article.id %}">Unpublish</a>
                </small>
                {% endif %}

            {% empty %}
                <li class="list-unstyled">No articles yet.</li>
            {% endfor %}
            </ul>
        </div>

        <div class="col-12">
        {% if request.user.is_authenticated %}
            {% if request.user.is_staff %}
                <a href="{% url 'create_article' %}">Create a new article for the blog</a>
            
                <h1>Articles visible only for staff</h1>

                <ul>
                    <h3>These articles are scheduled to be published</h3>
                    {% for article in scheduled_for_publication %}
                    <li class="list-unstyled">
                        {% if article.banner_img %}
                        <img src="{{ article.banner_img.url }}" alt="{{ article.img_title }}" style="width:200px">
                        {% endif %}
                        <a href="{% url 'article_detail' article.slug %}" class="fw-bold">{{ article.title }}</a>
                        <p>Scheduled for: {{ article.date_of_publication }}</p>
                    </li>

                    <small class="ml-3">
                        <a href="{% url 'edit_article' article.id %}">Edit</a>
                    </small>
                    {% endfor %}

                    <h3>These articles are marked as not approved</h3>
                    {% for article in unpublished_articles %}
                    <li class="list-unstyled">
                        {% if article.banner_img %}
                        <img src="{{ article.banner_img.url }}" alt="{{ article.img_title }}" style="width:200px">
                        {% endif %}
                        <a href="{% url 'article_detail' article.slug %}">{{ article.title }}</a>
                    </li>

                    <small class="ml-3">
                        <a href="{% url 'edit_article' article.id %}">Edit</a>
                    </small>

                        {% if request.user.is_superuser %}
                        <small class="ml-3">
                            <a class="text-danger" href="{% url 'edit_article' article.id %}">| Delete</a>
                        </small>
                        {% endif %}

                    {% endfor %}
                </ul>
            {% endif %}
        {% endif %}
        </div>
    </div>
</div>

{% endblock %}
