{% extends "base.html" %}
{% load static %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock %}

{% block extra_title %}- Healthy recipes: plant-based, vegan-friendly, delicious{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 col-lg-10 offset-lg-1">
            {% if request.user.is_staff %}
            <div class="my-5 text-center">
                <a class="btn btn-admin" href="{% url 'create_recipe' %}">
                    <i class="fa-solid fa-plus pe-2"></i>Create a new recipe for the blog
                </a>
            </div>

            <div class="row blog-thumbnail pb-2">
                <h4 class="pb-3">Approved and scheduled for publishing</h4>

                {% for recipe in scheduled_for_publication %}
                {% if recipe.banner_img %}
                <img class="col-3" src="{{ recipe.banner_img.url }}" alt="{{ recipe.img_title }}">
                {% else %}
                <img class="col-3" src="{{ MEDIA_URL }}noimage.png" alt="{{ recipe.title }}">
                {% endif %}

                <a class="col-9 col-md-6 text-link" href="{% url 'recipe_detail' recipe.slug %}">{{ recipe.title }}</a>
                <p>Scheduled for: {{ recipe.date_of_publication }}</p>

                <small class="col-md-3 text-end my-3 my-md-0">
                    <a class="btn btn-sm btn-admin" href="{% url 'edit_recipe' recipe.id %}">Edit</a>
                </small>
                {% empty %}
                <div>
                    <p>No recipes scheduled for publication</p>
                </div>
                {% endfor %}
            </div>

            <div class="row blog-thumbnail mt-5">
                <h4 class="pb-3">Waiting for admin's approval</h4>

                {% for recipe in unpublished_recipes %}
                {% if recipe.banner_img %}
                <img class="col-3" src="{{ recipe.banner_img.url }}" alt="{{ recipe.img_title }}">
                {% else %}
                <img class="col-3" src="{{ MEDIA_URL }}noimage.png" alt="{{ recipe.title }}">
                {% endif %}

                <a class="col-9 col-md-6 text-link" href="{% url 'recipe_detail' recipe.slug %}">{{ recipe.title }}</a>

                <small class="col-md-3 text-end my-3 my-md-0">
                    <a class="btn btn-sm btn-admin" href="{% url 'edit_recipe' recipe.id %}">Edit</a>
                    {% if request.user.is_superuser %}
                    <a class="btn btn-sm btn-admin text-danger" href="{% url 'delete_recipe' recipe.id %}">Delete</a>
                    {% endif %}
                </small>
                {% endfor %}
                <div class="mt-5">
                    <p>All recipes below the line have been published on the blog.</p>
                </div>
                <hr>
            </div>
            {% endif %}
           
            {% for recipe in published_recipes %}
            <div class="row blog-thumbnail my-5">
                {% if recipe.banner_img %}
                <img class="col-3" src="{{ recipe.banner_img.url }}" alt="{{ recipe.img_title }}">
                {% else %}
                <img class="col-3" src="{{ MEDIA_URL }}noimage.png" alt="{{ recipe.title }}">
                {% endif %}
                
                <a class="col-9 col-md-6 text-link" href="{% url 'recipe_detail' recipe.slug %}">{{ recipe.title }}</a>

                {% if request.user.is_staff %}
                <small class="col col-md-3 text-end my-3 my-md-0">
                    <a class="btn btn-sm btn-admin" href="{% url 'edit_recipe' recipe.id %}">Edit</a>
                    {% if request.user.is_superuser %} 
                    <a class="btn btn-sm btn-admin ms-1" href="{% url 'unpublish_recipe' recipe.id %}">Unpublish</a>
                    {% endif %}
                </small>
                {% endif %}
            </div>
            {% empty %}
            <div class="row blog-thumbnail my-5">
                <div class="mt-5">
                    <p>No recipes yet.</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

