{% extends "base.html" %}
{% load static %}


{% block extra_title %}- Healthy recipes: plant-based, vegan-friendly, delicious{% endblock %}

{% block content %}
<h1>Check out our latest recipes</h1>

    <!-- {% for recipe in recipes_list %}
    <a href="{% url 'recipe_detail' recipe.slug %}">This is a recipe</a>
    {% endfor %} -->

    <ul>
        {% for recipe in object_list %}
            <li class="list-unstyled">
                <a href="{% url 'recipe_detail' recipe.slug %}">{{ recipe.title }}</a>
            </li>
        {% empty %}
            <li class="list-unstyled">No recipes yet.</li>
        {% endfor %}
    </ul>

{% endblock %}
