{% extends 'base.html' %} 
{% load static %}


{% block extra_keywords %}
{{ recipe.keywords }}
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock %}

{% block extra_title %}- {{ recipe.title }}{% endblock %}

{% block content %}
<div class="container pt-5">
    <div class="row g-0">
        <div class="col-12 col-md-5 blog-image px-3">
            {% if recipe.banner_img %}
            <img src="{{ recipe.banner_img.url }}" class="scale" alt="{{ recipe.img_title }}">
            {% endif %}
        </div>
        <div class="col-12 col-md-7 px-3">
            <h1 class="post-title mt-md-0">{{ recipe.title }}</h1>
            <p class="post-subtitle">Published on {{ recipe.date_of_publication }}</p>
            <div class="blog-icons d-flex justify-content-between mb-3">
                <div>
                    {% if user.is_authenticated %}
                    <span class="pe-2" id="save-recipe">
                        <button class="bookmark-recipe text-end pe-2" data-recipe-item="{{ recipe.id }}">
                            <i class="fa-regular fa-bookmark"></i>
                        </button>
                    </span>
                    {% endif %}
                    <span>
                        <button class="share-link"><i class="fa-solid fa-link"></i></button>
                        <small class="confirmation-text d-none">Link copied!</small>
                    </span>
                </div>

                {% if request.user.is_staff %}
                <small class="ms-3">
                    <a class="btn btn-sm btn-admin" href="{% url 'edit_recipe' recipe.id %}">Edit</a>
                    {% if request.user.is_superuser %}
                    <a class="btn btn-sm btn-admin ms-1" href="{% url 'unpublish_recipe' recipe.id %}">Unpublish</a>
                    {% endif %}
                </small>
                {% endif %}
            </div>
            <div class="d-none d-lg-block blog-content">
                <p>{{ recipe.description | safe }}</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col card mb-4 mt-3">
            <div class="card-body">
                <article class="card-text blog-content row mb-5">
                    <div class="d-lg-none col-12">{{ recipe.description | safe }}</div>
                    <hr class="d-md-none col-12">
                    <div class="col-12 col-md-5 pb-3">
                        <h3>Ingredients</h3>
                        {{ recipe.ingredients | safe }}
                    </div>
                    <hr class="d-md-none col-12">
                    <div class="col-12 col-md-7">
                        <h3>Method</h3>
                        {{ recipe.method | safe }}
                    </div>
                </article>

                <div class="mt-5">
                    {% if recipe.related_products.all %}
                        <hr>
                        <h5 class="mb-4">Recommended products:</h5>
                        <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4">
                        {% for product in recipe.related_products.all %}
                            <div class="col mb-3">
                                <div class="card h-100 border-1">
                                    <div class="rel-product-img">
                                        {% for image in product.images.all %}
                                        <a class="h-100" href="{% url 'product_detail' product.id %}">
                                            <img class="card-img-top img-fluid" src="{{ image.primary_img.url }}" alt="{{ image.name_primary_img }}">
                                        </a>
                                        {% empty %}
                                        <a class="h-100" href="{% url 'product_detail' product.id %}">
                                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                        </a>
                                        {% endfor %}
                                        <a class="text-link fw-normal" href="{% url 'product_detail' product.id %}">
                                            <p>{{ product.name }}</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-end">
            <a href="{% url 'recipes' %}" class="btn btn-dark bg-dark-green my-5">
                <span class="icon mr-2">
                    <i class="fas fa-angle-left"></i>
                </span>
                <span class="text-uppercase">Back to recipes</span>
            </a>
        </div>
    </div>
</div>
{% endblock content %}

{% block postloadjs %}
{{ block.super }}
<!-- Copy link to clipboard for easy sharing -->
<script src="{% static 'blog/js/copy_link.js' %}"></script>

    {% if user.is_authenticated %}
    <!-- Update a user's list of favourite recipes -->
    <script src="{% static 'blog/js/bookmark_recipe.js' %}"></script>
    {% endif %}
{% endblock %}
