{% extends "base.html" %}
{% load static %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-4 mb-3">
    <div class="row">
        <div class="col-12">
            <h2 class="mb-4">Product Management</h2>
            <h5 class="text-muted">Edit a product</h5>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-8 col-lg-6">
            <hr>
            <form method="POST" action="{% url 'edit_product' product.id %}" class="form mb-2" enctype="multipart/form-data">
                {% csrf_token %}
                {{ product_form | crispy }}
                {{ image_form | crispy }}
                <div class="mt-4 mb-5">
                    <a class="btn btn-admin" href="{% url 'products' %}">Cancel</a>
                    <button class="btn btn-admin ms-4" type="submit">Update Product</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
