{% extends "base.html" %}
{% load static %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block extra_title %}- Shop {{ product.name }}{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
            <div class="image-container my-5">
            {% if product_images %}
                {% for image in product_images %}
                    {% if image.primary_img %}
                    <div>
                        <a id="main-image-link" href="{{ image.primary_img.url }}" target="_blank">
                            <img id="main-image" class="card-img-top img-fluid" src="{{ image.primary_img.url }}" alt="{{ image.name_primary_img }}">
                        </a>
                    </div>
                    {% endif %}
                    <ol class="list-unstyled d-flex py-3">
                        {% if image.secondary_img %}
                        <li class="w-25 me-3">
                            <img id="img-thumbnail-1" class="img-thumbnail" src="{{ image.secondary_img.url }}" alt="{{ image.name_secondary_img }}">
                        </li>
                        {% endif %}
                        {% if image.tertiary_img %}
                        <li class="w-25 me-3">
                            <img id="img-thumbnail-2" class="img-thumbnail" src="{{ image.tertiary_img.url }}" alt="{{ image.name_tertiary_img }}">
                        </li>
                        {% endif %}
                    </ol>  
                {% endfor %}
            {% else %}
                <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
            {% endif %}
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="product-details-container mb-5 mt-md-5">
                <h5 class="mb-0">{{ product.name }}
                    {% if request.user.is_authenticated %}
                    <span>
                        <button class="add-to-wishlist text-end pe-3" data-product-item="{{ product.id }}" aria-label="Heart icon - click to add to wishlist">
                            <i class="fa-regular fa-heart"></i>
                        </button>
                    </span>
                    {% endif %}
                </h5>

                <p class="lead mb-0 fw-bold mt-2 mb-3">€{{ product.price }}</p>

                {% if product.average_rating %}
                <div class="mb-3">
                    <small><i class="fas fa-star me-1"></i>{{ product.average_rating }} / 5</small>
                </div>
                {% else %}
                <div class="mb-3">
                    <small>No Rating</small>
                </div>
                {% endif %}

                {% if product.category %}
                <p class="small mt-1 mb-0">
                    <a class="text-link" href="{% url 'products' %}?category={{ product.category.name }}">
                        <i class="fas fa-tag me-1"></i>{{ product.category.friendly_name }}
                    </a>
                </p>
                {% endif %}

                {% if product.brand %}
                <p class="small mt-1 mb-0">
                    <a class="text-link" href="{{ product.brand.url }}" target="_blank" rel="noopener">
                        <i class="fas fa-tag me-1"></i>{{ product.brand.friendly_name }}
                    </a>
                </p>
                {% endif %}

                {% if request.user.is_superuser %}
                    <div class="my-2">
                        <a class="btn btn-admin" href="{% url 'edit_product' product.id %}">Edit</a> 
                        <a class="btn btn-admin" href="{% url 'delete_product' product.id %}">Delete</a>
                    </div>
                {% endif %}
                
                <p class="mt-3">{{ product.description }}</p>
                {% if product.ingredients %}
                <p class="mt-3"><span class="fw-bold">Ingredients: </span>{{ product.ingredients }}</p>
                {% endif %}

                <form class="form" action="{% url 'add_to_basket' product.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-12">
                            <p class="mt-3 fw-bold">Quantity:</p>
                            <div class="form-group w-50">
                                <div class="input-group input-group-{{ product.id }}">
                                    <div class="input-group-prepend">
                                        <button class="decrement-qty btn btn-dark bg-dark-green decrement-qty_{{ product.id }}" 
                                            data-item_id="{{ product.id }}">
                                            <span class="icon">
                                                <i class="fas fa-minus"></i>
                                            </span>
                                        </button>
                                    </div>
                                    <input class="form-control py-0 qty_input id_qty_{{ product.id }}" type="number"
                                        name="quantity" value="1" min="1" max="9"
                                        data-item_id="{{ product.id }}">
                                    <div class="input-group-append">
                                        <button class="increment-qty btn btn-dark bg-dark-green increment-qty_{{ product.id }}"
                                            data-item_id="{{ product.id }}">
                                            <span class="icon">
                                                <i class="fas fa-plus"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col{% if s %}-12 mt-2{% endif %}"> -->
                        <div class="col-12 mt-2 product-main-buttons">
                            <a href="{% url 'products' %}" class="btn btn-dark bg-dark-green mt-5 me-2">
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span class="text-uppercase">Back</span>
                            </a>
                            <input type="submit" class="btn btn-dark bg-dark-green text-uppercase mt-5" value="Add to Basket">
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <hr>

    <!-- Displaying reviews -->
    <div class="row product-reviews">
        <div class="col-md-8 card border-0 mb-4 mt-3 ">
            <div class="card-body px-0 px-md-2">
                <h3>Product reviews</h3>
                {% for review in reviews %}
                <div class="py-3 reviews{% if not review.approved and review.author == user %} faded{% elif not review.approved %} d-none{% endif %}">
                    <p class="fw-normal mb-1">
                        {{ review.created_on }},
                        <span class="fw-bold">
                            {{ review.author }}
                        </span> wrote:
                    </p>
                    <p class="star-rating mb-1" id="{{ review.id }}" data-review-rating="{{ review.rating }}">
                        <i class="fa-regular fa-star" id="review{{ review.id }}-star1"></i>
                        <i class="fa-regular fa-star" id="review{{ review.id }}-star2"></i>
                        <i class="fa-regular fa-star" id="review{{ review.id }}-star3"></i>
                        <i class="fa-regular fa-star" id="review{{ review.id }}-star4"></i>
                        <i class="fa-regular fa-star" id="review{{ review.id }}-star5"></i>
                    </p>

                    <div id="review{{ review.id }}">
                        {{ review.text | linebreaks }}
                    </div>
                    {% if not review.approved and review.author == user %}
                    <p class="approval"><span class="bg-light-sage px-2">This review is awaiting approval</span></p>
                    {% endif %}
                    {% if user.is_authenticated and review.author == user %}
                    <button class="btn btn-dark bg-dark-green btn-delete" data-review-id="{{ review.id }}">Delete</button>
                    <button class="btn btn-dark bg-dark-green btn-edit" data-review-id="{{ review.id }}">Edit</button>
                    {% endif %}
                </div>
                {% empty %}
                <p>There are no reviews for this product</p>
                {% endfor %}
            </div>
        </div>
        <!-- Creating new reviews -->
        <div class="col-md-4 card border-0 mb-4 mt-3 ">
            <div class="card-body px-0 px-md-2">
                {% if user.is_authenticated %}
                <h3>Leave a review</h3>
                <p>Posting as {{ user.username }}</p>

                <form id="reviewForm" method="POST">
                    {% csrf_token %}
                    <label for="stars-rating">Star rating</label><br>
                    <input type="number" id="stars-rating" name="stars-rating" value="" class="d-none">
                    <p class="stars" id="stars-p">
                        <i class="fa-regular fa-star" id="star1"></i>
                        <i class="fa-regular fa-star" id="star2"></i>
                        <i class="fa-regular fa-star" id="star3"></i>
                        <i class="fa-regular fa-star" id="star4"></i>
                        <i class="fa-regular fa-star" id="star5"></i>
                    </p>
                    
                    {{ review_form | crispy }}
                    <button id="submitButton" type="submit" class="btn btn-dark bg-dark-green btn-lg mt-3">Submit</button>
                </form>
                {% else %}
                <a class="btn btn-dark bg-dark-green btn-lg" href="{% url 'account_login' %}">Log in to leave a review</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<!-- Delete review - confirmation modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete review?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete your review? This action cannot be undone.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark bg-daark-green" data-bs-dismiss="modal">Close</button>
                <a id="deleteConfirm" href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<!-- Update product quantity -->
<script src="{% static 'products/js/product_quantity.js' %}"></script>
<!-- Switch places of product images -->
<script src="{% static 'products/js/product_images.js' %}"></script>

    {% if user.is_authenticated %}
    <!-- Save products to and remove from wishlist -->
    <script src="{% static 'products/js/wishlist_product_detail.js' %}"></script>
    <!-- Handle star rating -->
    <script src="{% static 'products/js/star_rating.js' %}"></script>
    {% endif %}

<!-- Handle reviews -->
<script src="{% static 'products/js/reviews.js' %}"></script>


{% endblock %}
