{% extends "base.html" %}
{% load static %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block extra_title %}- Shop all products{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-4 mb-3">
            <h4>Products</h4>
                {% for c in current_filtering %}
                <div class="category-badge py-3">
                    <span class="p-2 mt-2 rounded-0 border border-dark">{{ c.friendly_name }}</span>
                </div>
                {% endfor %}
        </div>
    </div>

    <div class="row">
        <div class="product-container">
            <div class="row mt-1 mb-2">
                <!-- Filter products -->
                <div class="filter-select-wrapper col-6 col-md-3">
                    <select id="category-selector" class="w-100 rounded-0 border border-black">
                        <option value="reset" {% if current_filtering == 'None' %}selected{% endif %}>Filter</option>
                        {% for c in all_categories %}
                        <option value="{{ c.name }}" {% if current_filtering == '{{ c.name }}' %}selected{% endif %}>{{ c.friendly_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <!-- Sort products -->
                <div class="sort-select-wrapper col-6 col-md-3">
                    <select id="sort-selector" class="w-100 rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                        <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort</option>
                        <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                        <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                        <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>Rating (high to low)</option>
                        <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                        <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                    </select>
                </div>
                <!-- Number of displayed products / Link back to all products -->
                <div id="products-number" class="col-12 col-md-6 order-md-first">
                    <p class="text-muted mt-3 mt-md-0 text-center text-md-left">
                        {% if search_term or current_filtering or current_sorting != 'None_None' %}
                        <span class="small"><a href="{% url 'products' %}">Back to all products</a> | </span>
                        {% endif %}
                        {{ products_number }} Products {% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
                    </p>
                </div>
            </div>

            <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4">
                {% for product in products %}
                <div class="col mb-3">
                    <div class="card h-100 border-1">

                        {% if request.user.is_authenticated %}
                        <button class="add-to-wishlist text-end pe-1 pt-1" data-product-item="{{ product.id }}">
                            <i class="fa-regular fa-heart h5"></i>
                        </button>
                        {% endif %}
                        
                        {% for image in product.images.all %}
                        <div class="px-1 card-img-top h-100">
                            <a href="{% url 'product_detail' product.id %}">
                                <img class="img-fluid" src="{{ image.primary_img.url }}" alt="{{ image.name_primary_img }}">
                            </a>
                        </div>    
                        {% empty %}
                        <div class="px-1 card-img-top h-100">
                            <a href="{% url 'product_detail' product.id %}">
                                <img class="img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                            </a>
                        </div>
                        {% endfor %}
                        
                        <div class="card-body p-2 pb-0">
                            <p class="mb-0">
                                <a id="product-name-link" href="{% url 'product_detail' product.id %}">{{ product.name }}</a>
                            </p>
                        </div>
                        <div class="card-footer bg-white py-0 border-0 text-start p-2">
                            <div class="row">
                                <div class="col">
                                    <p class="lead mb-0 fw-bold">€{{ product.price }}</p>

                                    {% if product.category %}
                                    <p class="small mt-1 mb-0">
                                        <a class="text-link fw-normal" href="{% url 'products' %}?category={{ product.category.name }}">
                                            <i class="fas fa-tag me-1"></i>{{ product.category.friendly_name }}
                                        </a>
                                    </p>
                                    {% endif %}

                                    {% if product.average_rating %}
                                    <small><i class="fas fa-star me-1"></i>{{ product.average_rating }} / 5</small>
                                    {% else %}
                                    <small class="text-muted">No Rating</small>
                                    {% endif %}

                                    {% if request.user.is_superuser %}
                                    <div id="admin-btn-products" class="d-flex justify-content-between mt-3">
                                        <a href="{% url 'edit_product' product.id %}" class="btn btn-admin">Edit</a>
                                        <a href="{% url 'delete_product' product.id %}" class="btn btn-admin">Delete</a>
                                    </div>
                                    {% endif %}

                                    <form class="form" action="{% url 'add_to_basket' product.id %}" method="POST">
                                        {% csrf_token %}
                                        <div class="form-row">
                                            <div class="col-12">
                                                <div class="form-group w-50 d-none">
                                                    <div class="input-group input-group-{{ product.id }}">
                                                        <input class="form-control qty_input id_qty_{{ product.id }}" type="number"
                                                            name="quantity" value="1" data-item_id="{{ product.id }}">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col{% if s %}-12 mt-2{% endif %}">
                                                <button type="submit" class="btn btn-dark bg-dark-green w-100 rounded-2 text-uppercase my-1">
                                                    Add <span class="d-none d-lg-inline" >to Basket</span>
                                                </button>
                                            </div>
                                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
        {% include 'products/includes/pagination.html' with query_set=products custom_range=custom_range query=search_query %}
    </div>
</div>
<div class="btt-button shadow-sm border border-black">
    <a class="btt-link d-flex h-100">
        <i class="fas fa-arrow-up mx-auto my-auto"></i>
    </a>	
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<!-- Handle the back-to-top link -->
<script type="text/javascript">
    $('.btt-link').click(function(e) {
        window.scrollTo(0,0);
    })
</script>

<!-- Filter products -->
<script src="{% static 'products/js/filter_products.js' %}"></script>

<!-- Sort products -->
<script src="{% static 'products/js/sort_products.js' %}"></script>

    {% if user.is_authenticated %}
    <!-- Save products to and remove from wishlist -->
    <script src="{% static 'products/js/wishlist_products.js' %}"></script>
    {% endif %}

{% endblock %}
